<style type='text/css'>

html,body{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
/*overflow:hidden;*/
}

p{
/*text-align:justify;*/
}


a:link{
color:blue;
text-decoration:none;
}

a:active{
color:blue;
text-decoration:none;
}

a:visited{
color:blue;
text-decoration:none;
}

a:hover{
color:blue;
text-decoration:underline;
}

.container{height:100%;
    margin-top:2%;
margin-left:15%;}

.leftcontent{
    float: left;
    width: 40%;
    margin-right: 0.5%;
    padding-left: 7%;
    padding-right: 4%;
    padding-bottom:500px;
    overflow: auto;
    /*border-right: 1PX dashed grey;*/
    background:antiquewhite;
    border-radius:20px;
    font-family:Consolas,"Lucida Console";
}

.rightcontent{
    position:fixed;
    width:45%;
    margin-left:54%;
    margin-right:1%;
}

#TOC{
    position:fixed;
    width:18%;
    font-size:69%;
    margin-right:1%;
    height:75%;
    overflow:auto;
    /*border-right: 1px solid grey;*/
    -webkit-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.46);
    background:rgb(158, 255, 158);
    background:rgba(126, 236, 126, 0.6);
}


#TOC ul {
    background-color: transparent;
}


#imgframe{
}

.imgcontainer{
width:100%;
height:40%;
}

.imgcontainer img{

    width:100%;
    height:100%;

}

.smallimgcontainer{
width:60%;
}

.smallimgcontainer img{

    width:100%;
    height:100%;

}


#topbar{
position:fixed;
width:100%;
height:2%;
padding-bottom:5px;
background:grey;
}

.upperimage{
clear:left;
height:30%;
}

.lowerimage{
clear:left;
height:49%;
}

.leftfloat{
float:left;
width:28%;
margin-right:2%;
}

.leftfloat2{
float:left;
width:70%;
}

h1{
font-size: x-large;
border-bottom: 2px solid black;
margin-top:5em;
}


ol,ul{
background:cornsilk;
}

h2{color:#826060;
margin-top:3em;
}
h3{color:#A58585;}
h3{color:#A58585;}


</style>
